<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../assets/img/logoMMX.svg">
        <title>HOME - MMX Diseño Textil</title>

        <!-- link to google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous">

        <!-- link to own CSS -->
        <link rel="stylesheet" href="../css/style.css">

    </head>
    <body>
        <div class="container-fluid">
            <!-- inicio header -->
            <header class="row align-middle" id="top">
                <div class="col-lg-3 col-md-12 col-xs-12">
                    <a class="nav-link" href="../index.html"><img src="../assets/img/logoMMX.svg" alt="logo marca" class="logo"></a>
                </div>
                <div class="col-lg-6 col-md-12 col-xs-12">
                    <h1 class="titleName">Maria Manuela Xifra</h1>
                    <h2>DISEÑO Y DESARROLLO TEXTIL</h2>
                </div>
                <div class="col-lg-3 col-md-12 col-xs-12">
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="store.html">TIENDA</a>
                        </li>
                </div>
            </header>
            <!-- fin header -->

            <!-- inicio contenido -->
            <div class="row" id="selectDiv">
                <!-- renderizado del selector -->
                
            </div>

            <div class="row" id="cardDiv">              
                <!-- renderizado de cards -->
            </div>  

            <div class="row" id="cartDiv">
                <!-- renderizado de tabla de carrito -->

                <!-- renderizado totales del carrito -->

            </div>

            <div class="row" id="formDiv">
                <!-- renderizado datos del usuario -->

            </div>   

            <div class="row" id="paymentDiv">
                <!-- renderizado de tarjeta de credito -->
                
            </div>

            <div class="row" id="infoDiv">
                <!-- renderizado de informacion util -->
            </div>
            <!-- fin contenido -->

            <!-- inicio footer -->
            <footer class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <img src="../assets/img/logoMMX.svg" alt="logoMMX" class="logo">   
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <h3>Seguime en </h3>
                    <img src="../assets/img/logo-In.svg" target="_blank" alt="logo linkedin" class="icon">
                    <img src="../assets/img/logo-Ig.svg" target="_blank" alt="logo instagram" class="icon">
                    <img src="../assets/img/logo-Fb.svg" target="_blank" alt="logo facebook" class="icon">
                </div>
                <div class="col-lg-12 col-md-12 col-xs-12">
                     <h3> Diseño y desarrollo de Maria Manuela Xifra</h3>  
                </div>
                
            </footer>
            <!-- fin footer -->

        </div>

        <!-- Bootstrap - JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
        crossorigin="anonymous"></script>

        <!-- script to JQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
        crossorigin="anonymous"></script>

        <!-- script to Sweet Alert -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- script to javascript -->
        <script src="../js/main.js"></script>   
    </body>
    
</html>